<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--link rel="import" href="../../bower_components/polymer/array-selector.html"-->

<dom-module id="view-accounts">
  <template>
  <style>
    :host { display: block; }
  </style>

  <link href="../../assets/css/bootstrap.css" rel="stylesheet" />
  <link href="../../assets/css/style.css" rel="stylesheet" />

  <app-localstorage-document key="data.local" data="{{islog}}"></app-localstorage-document>

  <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
           <div class="panel panel-success">
             <div class="panel-heading">
                Lista de Cuentas
             </div>
             <div class="panel-body">
                 <div class="table-responsive">
                     <table class="table table-striped table-bordered table-hover">
                         <thead>
                             <tr class="text-center">
                                 <th>Numero de cuenta</th>
                                 <th>Saldo disponible</th>
                                   <th>Ver Movimiento</th>
                             </tr>
                         </thead>
                         <tbody>
                             <template  id="listaccount" is="dom-repeat" items={{listAccounts}} as="val">
                                 <tr>
                                     <td>{{val.account_number}}</td>
                                     <td>{{val.balance}}</td>
                                     <td> <paper-button raised id$="bt_movements" on-tap="showMovements">detalle</paper-button></td>
                                 </tr>
                               </template>

                               <array-selector id="selector" items="{{listAccounts}}" selected="{{selected}}" multi toggle></array-selector>

                         </tbody>
                     </table>
                 </div>
             </div>
           </div>
         </div>
  </div>

  <iron-ajax
    id="doAccountsGet"
    auto=""
    url=[[api.api_host]][[api.api_accounts]]?userid=[[userlog.id]]
    content-type="application/json"
    method="GET"
    handle-as="json"
    on-response="accountsAJAXResponse"
    on-error="showErrorAccounts"
    headers$='{"authorization": "{{islog.token}}"}'>

  </template>
  <script>
  class ViewAccounts extends Polymer.Element {
    static get is() { return 'view-accounts'; }
    static get properties() {
      return {
        listAccounts: {
          type: Array
        },
        api_host: {
          type: String
        },
        api_accounts:{
          type: String
        },
        islog: {
         type: Object,
         value: {}
       }
      };
    }

    accountsAJAXResponse(data) {
      this.listAccounts=data.detail.response;
    }

    showErrorAccounts(error) {
      console.log("Error Accounts: "+error);
    }

    showMovements(e) {
      var item = this.$.listaccount.itemForElement(e.target);
       this.$.selector.select(item);
      this.dispatchEvent(new CustomEvent('movement-ok', {detail:item}));
    }

  }

  window.customElements.define(ViewAccounts.is, ViewAccounts);
  </script>
</dom-module>
