<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../views/view-usuarios.html">
<link rel="import" href="../views/view-accounts.html">
<link rel="import" href="../views/view-movements.html">

<dom-module id="colapi-init">
  <template>
    <style>
      :host {
        display: block;
      }
      .imgLogo{ width: 250px; height: 250px; }
    </style>

    <link href="../../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../../assets/css/style.css" rel="stylesheet" />

    <div class="navbar navbar-inverse set-radius-zero" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/logo1.png" class="img-fluid  imgLogo"  style="height:300%" alt="TechU - Partitioner"/>
                </a>
            </div>

            <div class="right-div">
                <button class="btn btn-warning pull-right" on-tap="logout">LOG ME OUT</button>
            </div>
        </div>
    </div>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a href="#" class="menu-top-active">TechU - Partitioner - {{userlog.first_name}} {{userlog.last_name}}</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

   <div class="content-wrapper">
        <div class="container">

          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6"></div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                 <div class="alert alert-info back-widget-set text-center">
                       <h3><a href="#" on-tap="_changeMenu">Usuario</a></h3>
                   </div>
               </div>
             <div class="col-md-3 col-sm-3 col-xs-6">
                     <div class="alert alert-success back-widget-set text-center">
                         <h3><a href="#" on-tap="_changeMenu2">Cuentas</a></h3>
                       </div>
                   </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                     <div class="alert alert-warning back-widget-set text-center">
                         <h3><a href="#" on-tap="_changeMenu3">Movimientos</a></h3>
                       </div>
             </div>
            </div>

      <template is="dom-if" if="{{_isEqualTo(menu, '00')}}">
                 <div class="row">
                   <div class="col-md-12 col-sm-12 col-xs-6">
                            <div class="row">
                             <div class="col-md-8 col-sm-8 col-xs-12">
                                           <img src="assets/img/1.png" alt="" />
                                   </div>
                             <div class="col-md-4 col-sm-4 col-xs-12" >
                                    <div class="alert alert-info text-center">
                                      <h3> El cliente es lo primero</h3>
                                      <hr />
                                        <i class="fa fa-warning fa-4x"></i>
                                      <p>
                                          En BBVA vemos nuestro trabajo desde la óptica del cliente,
                                          incorporando su punto de vista en todas nuestras decisiones
                                          y anteponiendo siempre sus intereses.
                                          Solucionamos las necesidades de nuestros clientes de manera
                                          ágil y ejecutiva, superando cualquier dificultad que nos encontremos.
                                    </p>
                                      <hr />
                                       <a href="#" class="btn btn-info">Read Full Detalis</a>
                                    </div>
                             </div>

                        </div>
                  </div>
 </template>
                 <div class="row">
                   <div class="col-md-12 col-sm-12 col-xs-6">
                          <template is="dom-if" if="{{_isEqualTo(menu, '01')}}">
                             <view-usuarios on-account-ok=accounts api=[[api]] userlog=[[userlog]]></view-usuarios>
                           </template>
                           <template is="dom-if" if="{{_isEqualTo(menu, '02')}}">
                              <view-accounts on-movement-ok="movement" api=[[api]] userlog=[[userlog]]></view-accounts>
                            </template>
                            <template is="dom-if" if="{{_isEqualTo(menu, '03')}}">
                               <view-movements api=[[api]] userlog=[[userlog]] accountnumber=[[accountnumber]]></view-movements>
                             </template>
                        </div>
                  </div>
        </div>
   </div>

   <section class="footer-section">
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                  &copy; 2018 Bbva.com |<a href="http://www.bbva.com/" target="_blank"  > Designed by : Renato Paz</a>
               </div>

           </div>
       </div>
   </section>

</template>

  <script>
    class ColapiInit extends Polymer.Element {
      static get is() { return 'colapi-init'; }
      static get properties() {
        return {
          menu: {
           type: String,
           value:"00"
         },
         api: {
          type: Object
        }
        };
      }

    _isEqualTo(title, string) {
      return title == string;
      }

      _changeMenu() {
        this.menu= "01";
      }

      _changeMenu2() {
          this.menu= "02";
      }

      _changeMenu3() {
          this.menu= "03";
        }

    /*ready() {
        this.addEventListener('movement', function (e) {
        console.log("add listener"); // true
      })
        super.ready();
      }*/
      movement(e){
        //console.log(e.detail.account_number);
        this.accountnumber=e.detail.account_number;
        this._changeMenu3();
      }

      accounts(e){
        this._changeMenu2();
      }

      logout() {
        this.dispatchEvent(new CustomEvent('logout-ok'));
      }

  }

  window.customElements.define(ColapiInit.is, ColapiInit);
  </script>
</dom-module>
